/* Styles for Index */
body {
    margin: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid purple;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    left: 100px;
}

.logo {
    width: 95px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
}

.homeLink{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid purple;
    color: white;
    width: 105px;
    height: 45px;
    right: 500px;
}

.aboutLink {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid purple;
    color: white;
    width: 105px;
    height: 45px;
    right: 300px;
}

.contactLink {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid purple;
    color: white;
    width: 105px;
    height: 45px;
    right: 100px;
}

.leftMain {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    justify-content: center;
    color: rgb(134, 90, 175);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    position: relative;
}

p, h1 {
    margin: 0;
    padding: 0;
}

.nameHeading {
    margin-bottom: 20px;
    padding-left: 50px;
}

.description {
    padding-left: 50px;
    padding-right: 50px;
}

.rightMain {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.portrait {
    width: 400px;
    height: 400px;
    border: 2px solid rgb(134, 90, 175);
    border-radius: 200px;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgba(134, 90, 175, 0.308);
    height: 31vh;
    width: 100vw;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 99%;
    padding-left: 30px;
    gap: 40px;
}

.Logo {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(235, 31, 235, 0.473);
    border-radius: 40px;
}

.adressContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    height: 99%;
    padding-left: 60px;
}

.leftAC {
    width: 30%;
}

.rightAC {
    width: 50%;
}

.maps {
    display: flex;
    width: 99%;
    height: 99%;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.map {
    height: 80%;
    width: 70%;
}

#arrow {
    position: absolute;
    bottom: 30px;
    width: 66px;
    height: 66px;
    border: none;
    border-radius: 33px;
    padding: 0;
    cursor: pointer;
}

.arrow {
    width: 60px;
    height: 60px;
    border: 1px solid blueviolet;
    border-radius: 50%;
    padding-right: 1px;
}

#arrow:hover {
    background-color: blueviolet;
}

/* Styles for About Me Page */
.wallpaper {
    height: 45vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
}

.headingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    width: 100vw;
    background-color: rgba(219, 36, 219, 0.26);
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    position: relative;
}

.heading {
    padding: 0;
    padding-left: 30px;
    margin: 0;
}



.aboutText {
    margin: 0;
    padding-top: 50px;
    font-size: 18px;
    padding-right: 200px;
}

.bottomHeading{
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 45vh;
    justify-content: center;
}

.projectsHeadings{
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: repeat(4, 40px);
    font-size: 18px;
    border: 2px solid rgba(128, 0, 128, 0.247);
    height: 30vh;
    justify-content: center;
}

.headingP{
    background-color: rgba(137, 43, 226, 0.534);
    font-weight: bolder;
    font-size: 25px;
    color: aliceblue;
}

.projectLinks{
    color: aliceblue;
}

.projectGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(128, 0, 128, 0.247);
    color: aliceblue;
}

.para {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(156, 0, 156, 0.87);
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainGrid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 70vh 70vh;
    position: relative;
}

.arrowGrid {
    position: absolute;
    top: 20vh;
    left: 48vw;
}

.backgroundImageGrid {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.players {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(6, 70px);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contentGridItems {
    display: flex;
    flex-direction: row;
    height: 70px;
}

.gridImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    padding-left: 20px;
}

.gridPicture {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 30px;
}

.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    padding-left: 30px;
    font-size: 20px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: aliceblue;
}

.artists {
    padding-top: 12px;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(6, 70px);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.youtubers {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(6, 70px);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.movies {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(6, 70px);
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* For About Page*/
.allesContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

.backGroundContact {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 50vh;
    border: 5px solid rgb(46, 0, 46);
    color: aliceblue;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.formDiv{
    display: flex;
    margin-right: 200px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-right: 350px;
}

.bigHeading {
    font-size: 3em;
    color: antiquewhite;
    position: absolute;
    top: 50px;
}

a {
    display: inline;
}

#submit{
    width: 100px;
    height: 60px;
    background-color: rgba(137, 43, 226, 0.397);
    border-radius: 12px;
}